* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.nav {
    width: 100%; 
    display: flex;
    justify-content: space-around;
    align-items: start;
    max-height: 38px;



}

.nav .muneBtn { 
    position: absolute; 
    left: 50px;
    top: 10px;
}

.muneBtn button {
    padding: 5px 16px 5px 16px;
    border: 1.5px solid white;
    border-radius: 200px;
    background: none;
    color: white;
    font-size: 13px;
}

.nav .logo-box {
    position: relative;
    top: -1.1px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 38px;
    min-width: 122px;
    border: none; 
}

.nav .logo-box svg {
    min-width: 122px;
    width: 100%;
}

.nav .logo-box p {
    position: absolute;
    color: black;
    font-size: 20px;
}