 .container {
     width: 100%;
     max-width: 250px;
     height: 70px;
     position: relative;
     overflow: hidden;
 }

 .concave-box {
     background-color: white;
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     align-items: center;
     display: flex;
     align-items: center;
     justify-content: center;
     border-bottom-left-radius: 900px;
     border-bottom-right-radius: 900px;
 }

 .full-width-example {
     height: 40px;
 }

 .concave-box p {
     align-items: center;
     color: black;
     font-size: 22px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


     background: url("/backg_main.png") repeat-y;
     -webkit-background-clip: text;
     background-clip: text;
     background-size: cover;
     /* Animate Background Image */

     -webkit-text-fill-color: transparent;
     -webkit-animation: aitf 80s linear infinite;

     /* Activate hardware acceleration for smoother animations */

     -webkit-transform: translate3d(0, 0, 0);
     -webkit-backface-visibility: hidden;

 }