* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: padding 1s ease;

}

:root {
    --color1: rgba(255, 255, 255, 0.97);
    --color2: black;
    --border: rgba(255, 255, 255, 0.212);
}


.nav {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: start;
    max-height: 38px;
    min-width: 28px;
    position: relative;
    top: 10px;

}

.nav .muneBtn {
    position: absolute;
    left: 40px;
    top: 10px;
    display: flex;
    gap: 12px;

}

.muneBtn button {
    border: 1.5px solid rgba(255, 255, 255, 0.769);
    border-radius: 200px;
    background: none;
    color: var(--color1);
    font-size: 13px;
    cursor: pointer;
    animation: 0.8s muneBtn 0.5s ease forwards;
}

/* animation: 1s muneBtn 1s ease forwards; */

@keyframes muneBtn {
    100% {
        padding: 5px 16px 5px 16px;

    }
}

.nav .logo-box {
    position: absolute;
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 38px;
    min-width: 122px;
    border: none;
    user-select: none;
    cursor: pointer;
}

.nav .logo-box svg {
    min-width: 122px;
    width: 100%;
}

.nav .logo-box p {
    position: absolute;
    color: var(--color2);
    font-size: 20px;
    top: 15px;

}

.nav .bookBtn button {
    animation: 0.8s bookBtn 0.5s ease forwards;

}

/* animation: 0.8s bookBtn 0.5s ease forwards;*/

@keyframes bookBtn {
    100% {
        padding: 6px 2px 6px 5px;
    }
}

.centerbox {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    padding: 0 10px 40px 10px;
    animation: 1s centerBox 1s ease forwards;

}

/* animation: 1s centerBox 1s ease forwards; */

@keyframes centerBox {
    100% {
        padding: 0 45px 45px 45px;
    }
}

.blurpart1 {
    filter: blur(28px); 
    width: 100%;
    height: 43px;
    animation: .8s .5s forwards part1;
    position: absolute; 

    border-radius: 100px; 
        box-shadow: 0 0 25px 6px #446480a7 inset;
    border: none;
    filter: blur(0.4px);

    animation: 0.8s part1 0.5s ease forwards;
}

.centerbox .section1 .part1 {
    box-shadow: 0 0 25px 6px #6c8ba8e6 inset;
    border: none;
    filter: blur(0.4px);

    animation: 0.8s part1 0.5s ease forwards;
}

/* animation: 0.8s part1 0.5s ease forwards;*/

@keyframes part1 {
    100% {
        padding: 5px 0px 5px 0px;
    }
}

.centerbox .section1 {
    display: flex;
    gap: 16px;
    flex-direction: column;


}


.part2 svg {
    position: relative;
    left: -100px;

    animation: 0.9s part2 0.6s ease forwards;
}


@keyframes part2 {
    100% {
        left: -55px;

    }
}

.part2 p span {
    /* color: #c4ced7e2;
    opacity: 0.8; */
    display: block;
    margin-top: -0.14em;
    /* negative gap to overlap lines */
    color: rgba(255, 255, 255, 0.34);
    /* muted grey look */
    font-weight: 800;
    line-height: 0.92;
    /* slightly taller inside muted block */
    -webkit-text-stroke: 0.2px rgba(0, 0, 0, 0.12);
    text-shadow: none;
}

.section1 .part2 .btn {
    border: 1px solid var(--color1);
    width: 124px;
    height: 38px;
    border-radius: 30px;
    background-image: url("/btn.png");
    background-size: cover;
    position: relative;
    top: -66px;
    cursor: pointer;
    left: 245px;
    animation: 0.9s btn3 0.6s ease forwards;

}

@keyframes btn3 {
    100% {
        top: -36px;


    }
}

.section1 .part3 {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
}

.part3 .box1,
.box2 {
    position: relative;
}

.part3 .box1 {
    border: 2px solid var(--border);
    width: 230px;
    background-color: var(--color1);
    color: var(--color2);
    border-radius: 29px;
    padding: 21px 12px 21px 12px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 12px;
}

.box1 h1 {
    font-size: 25px;
}

.box1 p {
    color: rgb(62, 58, 52);
    font-size: 17px;
}

.part3 .box2 {
    border: 2px solid var(--border);
    width: 230px;
    background-color: var(--color1);
    color: var(--color2);
    border-radius: 29px;
    padding: 21px 12px 21px 12px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 12px;
}

.box2 h1 {
    font-size: 25px;
}

.box2 p {
    color: rgb(62, 58, 52);
    font-size: 17px;
}

.section2 {
    width: 100%;
    display: flex;
    justify-content: end;
    position: relative;
    padding: 0 10px 40px 10px;


}

.section2 .partt1 {
    border: 2px solid var(--border);
    position: absolute;
    width: 300px;
    background-color: var(--color1);
    color: var(--color2);
    border-radius: 24px;
    padding: 25px 16px 25px 20px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 12px;
}

.section2 .partt1 h1 {
    font-size: 20px;
    font-weight: 600;

}

.section2 .partt1 p {
    color: rgb(62, 58, 52);
    font-size: 17px;
}

.section2 .partt2 {
    border: 2px solid var(--border);
    position: absolute;
    bottom: 0;
    border-radius: 30px;
    background: var(--color1);
    color: var(--color2);
    cursor: pointer;
    transition: padding 0.5s ease;
}

.btn2svg2 {
    width: 60px;
    z-index: 2;
    position: absolute;
    bottom: 0;
    animation: shape infinite 7s;

}

.partt2:hover {
    transition: padding 1s ease;
    box-shadow: 0 0 10px -2px rgba(214, 242, 247, 0.507);

}

.section2 .partt2 div {
    font-size: 19px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 40px;
}

.section2 .partt2 p {
    font-size: 15px;
    position: absolute;
}

.partt2 div svg {
    width: 105px;
    height: 51px;
    border-radius: 5px;
    position: absolute;
    right: 0;
}


@keyframes shape {
    0% {
        transform: rotate(0deg) translate(9px, -9px);
        opacity: 0.6;

    }

    50% {
        transform: rotate(3deg) translate(-5px, -2px);
        opacity: 0.3;


    }

    100% {
        transform: rotate(0deg) translate(9px, -9px);
        opacity: 0.6;

    }
}